USE [master]
GO
/****** Object:  Database [VehicleRental]    Script Date: 30.01.2024 07:25:36 ******/
CREATE DATABASE [VehicleRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehicleRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehicleRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleRental]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 30.01.2024 07:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[VehicleID] [int] NOT NULL,
	[BodyType] [varchar](20) NOT NULL,
	[Fuel] [varchar](20) NOT NULL,
	[Doors] [int] NOT NULL,
	[Gearbox] [varchar](20) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorcycles]    Script Date: 30.01.2024 07:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorcycles](
	[VehicleID] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[EngineType] [varchar](20) NULL,
	[RequiredLicense] [nchar](10) NULL,
 CONSTRAINT [PK_Mororcycles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rents]    Script Date: 30.01.2024 07:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rents](
	[RentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[RentDate] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[Cost] [int] NOT NULL,
	[Finished] [varchar](3) NOT NULL,
	[Fine] [smallint] NOT NULL,
 CONSTRAINT [PK_Wypozyczenia] PRIMARY KEY CLUSTERED 
(
	[RentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.01.2024 07:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[Age] [smallint] NOT NULL,
	[Adress] [varchar](30) NOT NULL,
	[Email] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](9) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Uzytkownik] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 30.01.2024 07:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] NOT NULL,
	[Availability] [smallint] NOT NULL,
	[Brand] [varchar](20) NOT NULL,
	[Model] [varchar](20) NOT NULL,
	[ProductionYear] [int] NOT NULL,
	[Color] [varchar](20) NOT NULL,
	[Power] [smallint] NOT NULL,
	[EngineCapacity] [smallint] NULL,
	[CostPerDay] [smallint] NULL,
 CONSTRAINT [PK_Pojazdy] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Vehicles]
GO
ALTER TABLE [dbo].[Motorcycles]  WITH CHECK ADD  CONSTRAINT [FK_Mororcycles_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Motorcycles] CHECK CONSTRAINT [FK_Mororcycles_Vehicles]
GO
ALTER TABLE [dbo].[Rents]  WITH CHECK ADD  CONSTRAINT [FK_Wypozyczenia_Pojazdy1] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Rents] CHECK CONSTRAINT [FK_Wypozyczenia_Pojazdy1]
GO
ALTER TABLE [dbo].[Rents]  WITH CHECK ADD  CONSTRAINT [FK_Wypozyczenia_Uzytkownik1] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rents] CHECK CONSTRAINT [FK_Wypozyczenia_Uzytkownik1]
GO
USE [master]
GO
